<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--1：配置自定义Job-->
    <bean id="demoJob" class="com.itheima.health.job.ClearImgJob">

    </bean>

    <bean id="ClearOrderSetting" class="com.itheima.health.job.ClearOrderSetting"/>

    <!--2：任务描述（任务细节）-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--目标任务类-->
        <property name="targetObject" ref="demoJob"></property>
        <!--目标任务类对应的方法-->
        <property name="targetMethod" value="clearImg"></property>
    </bean>

    <bean id="jobClear" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="ClearOrderSetting"/>
        <property name="targetMethod" value="clearOrderSetting"/>
    </bean>


    <!--3：触发器，触发jobDetail的类执行（声明触发时间）-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 注入JobDetail -->
        <property name="jobDetail" ref="jobDetail"></property>
        <!--定义触发时间，使用Corn的表达式-->
        <property name="cronExpression" value="30 23 18 * * ?"></property>
    </bean>

    <bean id="timeTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobClear"/>
        <property name="cronExpression" value="0 8,38 17 6 11 ? "/>
    </bean>
    <!--4：调度工厂，调度触发器的执行-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"></ref>
                <ref bean="timeTrigger"/>
            </list>
        </property>
    </bean>

    <!--需要在ClearImgJob中使用@Autowired，需要在spring容器中开启组件扫描-->
    <!--<context:annotation-config></context:annotation-config>-->
    <context:component-scan base-package="com.itheima.health"></context:component-scan>
</beans>